// =================================================
//
// Layout
//
// =================================================

.content {
	@include media(medium) {
		padding-left: 250px;
	}

	@include media(large) {
		padding-left: 350px;
	}
}


// ====================================
// Two Column
// ====================================

.two-column {
	@include selfclear;

	.column {
		margin-bottom: 0;

		@include media(large) {
			width: 45%;
			float: left;

			&:last-child {
				float: right;
			}
		}
	}
}
