// =================================================
//
// Colors
//
// =================================================

$red             : #e74c3c;
$darker-red      : #c44741;

$blue-dark       : #0f3d48;
$blue            : #3498db;
$blue-light      : #366774;

$black           : #2c343b;

$grey            : #233140;
$grey-dark       : #1D2A36;
$grey-light      : #293b4c;

$off-white       : #ecf0f1;
$white           : #ffffff;

$tan             : #e5e1d1;


// ====================================
// Elements
// ====================================

// sections
$section-bg           : $white;
$section-bg-alt       : $off-white;

// sidebar
$sidebar-bg           : $grey;
$sidebar-color        : $white;
$sidebar-profile-bg   : $grey-dark;

// nav
$nav-bg               : blue;
$nav-bg-alt           : blue;

// nav links
$nav-link-bg          : $grey;
$nav-link-color       : $white;
$nav-link-bg-hover    : $grey-light;
$nav-link-color-hover : $white;
$nav-border-color     : $grey-light;

// callout
$callout-bg           : rgba(225,225,225, 0.4);
$callout-color        : $grey;
$callout-border-color : $red;


// ====================================
// Typography
// ====================================

// default body copy color
$body-copy-color  : $grey;

// h1
$h1-color         : $white;
$h1-bg-color      : $red;

// h2
$h2-color         : $white;
$h2-bg-color      : $blue;
$h2-bg-color-alt  : $blue;

// h3
$h3-color         : $grey;

// h4
$h4-color         : $grey;

// inline links
$a-color          : $blue;
$a-bg-color       : transparent;
$a-color-hover    : $blue;
$a-bg-color-hover : $blue;
