// =================================================
//
// Mixins
//
// =================================================


// ====================================
// Self Clear
// ====================================

@mixin selfclear {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
